.modal-enter-active {
  animation: show-modal 0.3s forwards;
}

.modal-enter-active > div {
  animation: show-modal-container 0.3s forwards;
}

.modal-exit-active > div {
  animation: hide-modal-container 0.3s forwards;
}

.modal-exit-active {
  animation: hide-modal 0.3s forwards;
}

@keyframes show-modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-modal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-modal-container {
  0% {
    bottom: -100vw;
  }
  100% {
    bottom: calc(100vh - var(--vh, 1vh) * 100);
  }
}

@keyframes hide-modal-container {
  0% {
    bottom: calc(100vh - var(--vh, 1vh) * 100);
  }
  100% {
    bottom: -100vw;
  }
}

.App {
  max-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
